html {
    --light-sky-blue: #85c7f2ff;
    --cotton-candy: #f4bfdbff;
    --byzantium: #813362ff;
    --rich-black-fogra-29: #0c1821ff;
    --prussian-blue: #0b3954ff;

    --role-bg: var(--rich-black-fogra-29);
}

body {
    background-color: var(--role-bg);
    color: white;
    font-family: "IBM Plex Sans", sans-serif;

    display: flex;
}

.content {
    margin: 0 auto auto;
    background-color: var(--cotton-candy);
}
