<html>
<head>
    <title>RGB Control</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<script>
    handleForm = (endpoint, method) => {
        return (evt) => {
            evt.preventDefault()

            kv = $(evt.target).serializeArray()

            res = {}
            kv.forEach((v) => {
                res[v["name"]] = v["value"]
            })

            $.ajax({
                type: method ?? "POST",
                url: endpoint,
                data: res,
                success: () => {
                    location.reload()
                },
            })
        }
    }
</script>

<div class="content">
    <h1>RGB Orchestrator</h1>

    <form id="form-new-program">
        <h2>New Program</h2>
        <input type="text" name="name">
        <input type="submit">
    </form>

    <div>
        <h2>Program List</h2>
        {{ range $idx, $prog := .Programs }}
        <p>{{ .Name }}{{ if eq $idx $.CurrentProgram }} - currently selected{{ end }}</p>
        <button onclick="deleteProgram({{$idx}})">Delete</button>
        {{ if ne $idx $.CurrentProgram }}
        <button onclick="selectProgram({{$idx}})">Select</button>
        {{ end }}
        {{ else }}
        <p>No programs exist.</p>
        {{ end }}
    </div>

    {{ if ge .CurrentProgram 0 }}
    <div>
        <h2>Current Program</h2>
        {{ with index .Programs .CurrentProgram }}
        <p>{{ .Name }}</p>
        <button onclick="deleteProgram({{$.CurrentProgram}})">Delete</button>
        <div>
            <h3>Parameters</h3>
            <form id="form-new-parameter">
                <h4>New Parameter</h4>
                <input type="text" name="Name">
                <input type="radio" name="Type" id="param-type-color" value="color" checked>
                <label for="param-type-color">Color</label>
                <input type="radio" name="Type" id="param-type-range" value="range">
                <label for="param-type-range">Range</label>
            </form>
            <div>
                <form id="form-parameter">
                    <h4>Parameter Values</h4>
                    {{ range $name, $param := .Parameters }}
                    <p>{{ $name }}</p>
                    <!-- return false to 'preventDefault' and not fire the form -->
                    <button onclick="deleteParameter('{{$name}}'); return false">Delete</button>
                    <!-- nested templates can't have access to both the "$name" and "." variable -->
                    {{ if eq .Type "range" }}
                    <input type="number" name="param-value-{{$name}}-0" value="{{ index .Value 0 }}">
                    <input type="range" name="param-value-{{$name}}-2" min="{{ index .Value 0 }}"
                           max="{{ index .Value 1 }}" value="{{ index .Value 2 }}">
                    <input type="number" name="param-value-{{$name}}-1" value="{{ index .Value 1 }}">
                    {{ else if eq .Type "color" }}
                    <label for="param-value-{{$name}}-0">R</label>
                    <input type="range" id="param-value-{{$name}}-0" name="param-value-{{$name}}-0" min="0" max="1"
                           step="0.004" value="{{ index .Value 0 }}" onchange="updateColor({{$name}})">
                    <label for="param-value-{{$name}}-1">G</label>
                    <input type="range" id="param-value-{{$name}}-1" name="param-value-{{$name}}-1" min="0" max="1"
                           step="0.004" value="{{ index .Value 1 }}" onchange="updateColor({{$name}})">
                    <label for="param-value-{{$name}}-2">B</label>
                    <input type="range" id="param-value-{{$name}}-2" name="param-value-{{$name}}-2" min="0" max="1"
                           step="0.004" value="{{ index .Value 2 }}" onchange="updateColor({{$name}})">
                    <div style="display: inline-block; width: 20px; height: 20px;" id="param-color-{{$name}}"></div>
                    <script>
                        $(document).ready(() => {
                            updateColor("{{$name}}")
                        })
                    </script>
                    {{ end }}
                    <br>
                    {{ end }}
                    <input type="submit">
                </form>
            </div>
        </div>
        <div>
            <h3>Code</h3>
            <form id="form-code">
                <textarea name="code" cols="80" rows="20" style="display: block;">{{ .LuaScript }}</textarea>
                <input type="submit">
            </form>
        </div>
        {{ end }}
    </div>
    {{ end }}

    <img src="/canvas?w=600&h=300">

    <div>
        <h2>Hardware</h2>
        {{ range $hwid, $module := .Hardware }}
        <p>{{ $hwid }} ({{ .Address }})</p>
        <button onclick="addLedStrip({{$hwid}})">Add LED Strip</button>
        <button onclick="removeModule({{$hwid}})">Forget Module</button>
        {{ range $idx, $strip := .Strips }}
        <form id="form-strip-{{$hwid}}-{{$idx}}">
            <input name="X0" type="number" min="0" max="{{$.CanvasWidth}}" step="0.01" value="{{.Start.X}}">
            <input name="Y0" type="number" min="0" max="{{$.CanvasHeight}}" step="0.01" value="{{.Start.Y}}">
            <input name="X1" type="number" min="0" max="{{$.CanvasWidth}}" step="0.01" value="{{.End.X}}">
            <input name="Y1" type="number" min="0" max="{{$.CanvasHeight}}" step="0.01" value="{{.End.Y}}">
            <input name="NumLeds" type="number" min="0" value="{{.NumLEDs}}">
            <input type="submit">
        </form>
        <button onclick="removeLedStrip({{$hwid}}, {{$idx}})">Remove Strip</button>
        <script>
            $("form#form-strip-{{$hwid}}-{{$idx}}").submit(handleForm("/led-strip?hwid=" + encodeURIComponent("{{$hwid}}") + "&idx=" + encodeURIComponent("{{$idx}}"), "PUT"))
        </script>
        {{ end }}
        {{ else }}
        <p>No hardware modules known.</p>
        {{ end }}
    </div>
</div>

<script>
    $("form#form-new-program").submit((evt) => {
        evt.preventDefault()

        kv = $(evt.target).serializeArray()
        if (kv.length != 1 || kv[0].name != "name" || kv[0].value.length == 0) {
            console.log("program name can't be empty. todo: show this on page")
            return
        }

        $.post("/program?name=" + encodeURIComponent(kv[0].value), () => {
            location.reload()
        })
    })

    deleteProgram = (idx) => {
        $.ajax({
            type: "DELETE",
            url: "/program?idx=" + encodeURIComponent(idx),
            success: () => {
                location.reload()
            },
        })
    }

    selectProgram = (idx) => {
        $.ajax({
            type: "PUT",
            url: "/current-program?idx=" + encodeURIComponent(idx),
            success: () => {
                location.reload()
            },
        })
    }

    deleteParameter = (name) => {
        $.ajax({
            type: "DELETE",
            url: "/parameter?name=" + encodeURIComponent(name),
            success: () => {
                location.reload()
            },
        })
    }

    addLedStrip = (hwid) => {
        $.ajax({
            type: "POST",
            url: "/led-strip?hwid=" + encodeURIComponent(hwid),
            success: () => {
                location.reload()
            },
        })
    }

    removeModule = (hwid) => {
        $.ajax({
            type: "DELETE",
            url: "/hw-module?hwid=" + encodeURIComponent(hwid),
            success: () => {
                location.reload()
            },
        })
    }

    removeLedStrip = (hwid, idx) => {
        $.ajax({
            type: "DELETE",
            url: "/led-strip?hwid=" + encodeURIComponent(hwid) + "&idx=" + encodeURIComponent(idx),
            success: () => {
                location.reload()
            },
        })
    }

    updateColor = (name) => {
        let r = $(`input#param-value-${name}-0`).val()
        let g = $(`input#param-value-${name}-1`).val()
        let b = $(`input#param-value-${name}-2`).val()

        $(`div#param-color-${name}`).css("background-color", `rgb(${r * 255}, ${g * 255}, ${b * 255})`)
    }

    $("form#form-new-parameter").submit(handleForm("/parameter"))

    $("form#form-parameter").submit(handleForm("/set-parameters"))

    $("form#form-code").submit(handleForm("/code", "PUT"))
</script>
</body>
</html>
